<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/bulma.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Banana</title>
</head>

<body>
    <header>
        <nav id="nav-toko" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <div class="navbar-brand" style="justify-content: center !important; width: 100%;">
                <a class="navbar-item" href="/#/banana/">
                    <img class="nav-logo" src="/assets/images/example/banana/banana_logo.png" width="112" height="28">
                </a>
            </div>
        </nav>
    </header>
    <main class="container" style="max-width: 1000px; padding: 0px 24px;">
        <section class="type-section">
            <div class="columns">
                <div class="column is-5">
                    <figure class="image is-1by1">
                        <img class="box-shadow" src="/assets/images/example/banana/banana3.png">
                    </figure>
                    <div class="columns is-mobile is-multiline" style="margin-top: 24px;">
                        <figure class="column image radius-s is-squere">
                            <img src="/assets/images/example/banana/banana4.png">
                        </figure>
                        <figure class="column image radius-s is-squere">
                            <img src="/assets/images/example/banana/banana5.png">
                        </figure>
                        <figure class="column image radius-s is-squere">
                            <img src="/assets/images/example/banana/banana6.png">
                        </figure>
                        <figure class="column image radius-s is-squere">
                            <img src="/assets/images/example/banana/banana7.png">
                        </figure>
                    </div>
                </div>
                <div class="column buy-info" style="align-self: center;">
                    <h2 style="margin-bottom: 18px;">Banana Package</h2>
                    <div class="buy-info-field" style="margin-bottom: 18px;">
                        <div>Harga: <span>200.000</span></div>
                        <div>Kategori: <span>Big Package</span></div>
                        <div style="display: flex; align-items: center;">
                            <p style="margin-right: 14px;">Jumlah:</p>
                            <ion-icon style="margin-right: 8px; font-size: 24px;" name="add-circle"></ion-icon>
                            <p style="background: rgba(0, 0, 0, 0.05); padding: 6px 18px; margin-right: 8px; border-radius: 8px;">1</p>
                            <ion-icon style="font-size: 24px;" name="remove-circle"></ion-icon>
                        </div>
                    </div>
                    <div style="font-size: 24px; margin-bottom: 18px;">Total : <span style="font-weight: 700;">200.000</span></div>
                    <div class="buttons">
                        <a class="button page-buy buy" href="https://api.whatsapp.com/send?phone=62895806786887&text=Beli%20Banana%20Package%20sebanyak%201%20buah">Beli Sekarang</a>
                        <a class="button page-buy ask" href="https://api.whatsapp.com/send?phone=62895806786887&text=Ingin%20bertanya%20tentang%20Banana%20Package">Tanyakan</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="type-section two">
            <h2 style="margin-bottom: 14px;">Deskripsi</h2>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Nisl nisi scelerisque eu ultrices vitae auctor eu. Magna etiam tempor orci eu lobortis
            elementum nibh. Non blandit massa enim nec dui nunc mattis. Habitant morbi tristique senectus et netus et
            malesuada fames ac. Erat nam at lectus urna duis. Morbi leo urna molestie at. Velit aliquet sagittis id
            consectetur purus ut faucibus pulvinar. Velit sed ullamcorper morbi tincidunt. Tellus rutrum tellus
            pellentesque eu tincidunt tortor aliquam nulla. Fringilla phasellus faucibus scelerisque eleifend donec
            pretium vulputate. Rhoncus mattis rhoncus urna neque viverra justo nec ultrices dui. Amet venenatis urna
            cursus eget nunc scelerisque viverra mauris. Eget nunc lobortis mattis aliquam.

            Aliquet enim tortor at auctor urna nunc id cursus metus. Facilisi cras fermentum odio eu feugiat. Praesent
            elementum facilisis leo vel fringilla. In dictum non consectetur a erat nam. Est ultricies integer quis
            auctor elit sed vulputate. Dui id ornare arcu odio ut sem nulla. Sit amet purus gravida quis. Posuere ac ut
            consequat semper viverra. Sollicitudin ac orci phasellus egestas. Quis imperdiet massa tincidunt nunc
            pulvinar sapien et ligula ullamcorper. Commodo nulla facilisi nullam vehicula ipsum.

            At augue eget arcu dictum varius. Nibh ipsum consequat nisl vel pretium lectus quam id. Bibendum enim
            facilisis gravida neque convallis a cras. Tortor at auctor urna nunc id cursus metus aliquam. Ac ut
            consequat semper viverra nam libero justo laoreet sit. Amet commodo nulla facilisi nullam vehicula. Donec
            pretium vulputate sapien nec sagittis. Posuere lorem ipsum dolor sit amet consectetur adipiscing elit.
            Iaculis urna id volutpat lacus laoreet non curabitur. Orci sagittis eu volutpat odio facilisis mauris. Arcu
            risus quis varius quam quisque id diam. Cursus in hac habitasse platea dictumst quisque sagittis. Erat
            imperdiet sed euismod nisi porta lorem mollis aliquam. Etiam tempor orci eu lobortis elementum.

            Lorem ipsum dolor sit amet consectetur adipiscing elit ut. Eu consequat ac felis donec et odio. Dignissim
            diam quis enim lobortis scelerisque fermentum. Enim nulla aliquet porttitor lacus. Mauris pharetra et
            ultrices neque ornare aenean euismod elementum nisi. Dignissim suspendisse in est ante in nibh mauris
            cursus. Nisi vitae suscipit tellus mauris a diam maecenas sed enim. Pellentesque habitant morbi tristique
            senectus et netus et malesuada. Natoque penatibus et magnis dis parturient montes. Laoreet sit amet cursus
            sit amet dictum sit amet. Vestibulum mattis ullamcorper velit sed ullamcorper morbi tincidunt ornare massa.
        </section>
    </main>
    <footer>
        <div>Tunjukan Besarnya Usahamu dengan Tokoo</div>
    </footer>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
</body>

</html>