<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/bulma.css">
    <link rel="stylesheet" href="/assets/styles/style.css">
    <title>Banana</title>
</head>

<body>
    <header>
        <nav id="nav-toko" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
            <nav id="nav-toko" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
                <div class="navbar-brand" style="justify-content: center !important; width: 100%;">
                    <a class="navbar-item" href="/">
                        <img class="nav-logo" src="/assets/images/example/banana/banana_logo.png" width="112"
                            height="28">
                    </a>
                </div>
            </nav>
        </nav>
    </header>
    <main class="container" style="max-width: 1000px; padding: 0px 32px;">
        <section id="header" class="type-section">
            <article class="columns is-mobile is-multiline">
                <section class="column is-full">
                    <figure class="header-img image is-5by3">
                        <img src="/assets/images/example/banana/banana_header.png">
                    </figure>
                </section>
                <section class="column is-half">
                    <figure class="header-img image is-1by1">
                        <img src="/assets/images/example/banana/banana_header_2.png">
                    </figure>
                </section>
                <section class="column is-half">
                    <figure class="header-img image is-1by1">
                        <img src="/assets/images/example/banana/banana_header_3.png">
                    </figure>
                </section>
            </article>
        </section>
        <section id="product" class="type-section">
            <section class="centered">
                <h2 class="article-section-tokoo-title">Produk</h2>
                <p>Tagline produk</p>
            </section>
            <section class="columns is-multiline is-mobile" style="margin-top: 32px;">
                <a class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop" href="#/banana/detail">
                    <article>
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana1.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Banana Buck</h3>
                                <p class="price">Rp50.000</p>
                                <div class="desc">Deskripsi dari produk ini dapat ditulis pada bagian ini</div>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop" href="#/banana/detail">
                    <article>
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana2.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Banana salad</h3>
                                <p class="price">Rp50.000</p>
                                <div class="desc">Deskripsi dari produk ini dapat ditulis pada bagian ini</div>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop" href="#/banana/detail">
                    <article>
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana3.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Banana Creamy</h3>
                                <p class="price">Rp60.000</p>
                                <div class="desc">Deskripsi dari produk ini dapat ditulis pada bagian ini</div>
                            </div>
                        </div>
                    </article>
                </a>
                <a class="column is-full-mobile is-one-third-tablet is-one-quarter-desktop" href="#/banana/detail">
                    <article>
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana4.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Banana Soup</h3>
                                <p class="price">Rp50.000</p>
                                <div class="desc">Deskripsi dari produk ini dapat ditulis pada bagian ini</div>
                            </div>
                        </div>
                    </article>
                </a>
            </section>
        </section>
        <section id="article" class="type-section">
            <section>
                <section class="centered">
                    <h2 class="article-section-tokoo-title">Artikel</h2>
                    <p>Tagline artikel</p>
                </section>
                <section class="columns is-multiline is-mobile" style="margin-top: 32px;">
                    <article class="column is-full-mobile is-one-third-tablet">
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana9.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Artikel 1</h3>
                                <div class="desc">Ini adalah isi dari artikel yang dibuat pada Tokoo,
                                    kamu dapat mengisi dengan banyak hal seperti informasi...</div>
                            </div>
                        </div>
                    </article>
                    <article class="column is-full-mobile is-one-third-tablet">
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana8.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Artikel 2</h3>
                                <div class="desc">Ini adalah isi dari artikel yang dibuat pada Tokoo,
                                    kamu dapat mengisi dengan banyak hal seperti informasi...</div>
                            </div>
                        </div>
                    </article>
                    <article class="column is-full-mobile is-one-third-tablet">
                        <div class="card">
                            <img class="image is-squere" src="/assets/images/example/banana/banana7.png"
                                alt="Placeholder image">
                            <div class="content">
                                <h3 class="title">Artikel 3</h3>
                                <div class="desc">Ini adalah isi dari artikel yang dibuat pada Tokoo,
                                    kamu dapat mengisi dengan banyak hal seperti informasi...</div>
                            </div>
                        </div>
                    </article>
                </section>
            </section>
        </section>

        <section id="link" class="type-section">
            <section class="centered" style="margin-bottom: 32px;">
                <h2>Link</h2>
                <p>Penjelasan singkat mengenai alamat Url penting tokomu</p>
            </section>

            <section class="link-group centered">
                <h3>Link Sosial Media</h3>
                <section class="link-item facebook">
                    <ion-icon class="icon" name="logo-facebook"></ion-icon>
                    <p>Facebook Tokoo</p>
                </section>
                <section class="link-item instagram">
                    <ion-icon class="icon" name="logo-instagram"></ion-icon>
                    <p>Instagram Tokoo</p>
                </section>
                <section class="link-item whatsapp">
                    <ion-icon class="icon" name="logo-whatsapp"></ion-icon>
                    <p>Whatsapp Tokoo</p>
                </section>
            </section>

            <section class="link-group centered">
                <h3>Link Lainnya</h3>
                <section class="link-item">
                    <ion-icon class="icon" name="link"></ion-icon>
                    <p>Dokumentasi Tokoo</p>
                </section>
            </section>
        </section>
    </main>
    <footer>
        <div>Tunjukan Besarnya Usahamu dengan Tokoo</div>
    </footer>
    <script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

</body>

</html>