<header>
    <nav id="landing-nav" class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <img src="/assets/images/base/small_l_logo.png" width="112" height="28">
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" style="border-radius: 6px;"
                data-target="navbarBasicExample">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div id="navbarBasicExample" class="navbar-menu" style="border-radius: 12px;">
            <div class="navbar-end has-text-centered">
                <a class="navbar-item">Apa Itu Tokoo</a>
                <a class="navbar-item">Telusur Tokoo</a>
                <a class="navbar-item">UMKM Center</a>
                <a class="navbar-item">Pendanaan UMKM</a>
                <a class="navbar-item">Artikel</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="buttons" style="justify-content: center;">
                        <a class="button tokoo-main-button"><strong>Download</strong></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>
<main class="container is-fluid" style="max-width: 1250px;">
    <div class="landing">
        <section class="columns landing-columns">
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Buat dan kelola web untuk usahamu gratis, cepat dan mudah dengan Tokoo</h2>
                    <p>Tooko adalah sistem mini-web sekaligus wadah yang mepermudah para pelaku usaha mempromosikan
                        dan menginformasikan toko dan produk mereka dalam bentuk web dengan cepat, mudah dan hemat
                    </p>
                    <div class="buttons">
                        <a class="button tokoo-main-button"><strong>Download Tokoo</strong></a>
                        <a class="button tokoo-basic-button" href="/#/banana"><strong>Contoh Web Dengan Tokoo</strong></a>
                    </div>
                </div>
            </div>
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_1.png">
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_2.png">
            </div>
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Solusi kita bersama</h2>
                    <p>sudah selayaknya kita memberi perhatian besar kepada UMKM karena UMKM merupakan bagian
                        penting dari ekonomi negera, diantara masalah yang dihadapi UMKM adalah susahnya untuk
                        memulai Go Online dikarenakan beberapa faktor diantaranya adalah mahalnya biaya, Tokoo
                        berharap dapat membantu UMKM tumbuh bersama, Tokoo membantu UMKM memiliki halaman Web dengan
                        gratis cepat namun tetap terlihat profesional dan cantik</p>
                </div>
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Web itu penting untuk usahamu</h2>
                    <p>Dizaman ini web adalah teknologi yang sangat mudah diakses dimanapun kapanpun sehingga web menjadi sarana yang tepat untuk menjangkau pasar yang lebih luas, menyediakan informasi lengkap dan meningkatkan nilai brand usahamu. </p>
                </div>
            </div>
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_3.png">
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_4.png">
            </div>
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Membuat Web dari ponselmu</h2>
                    <p>Kamu hanya perlu menginstall aplikasi mobile Tokoo untuk memulai membuat dan mengatur halaman
                        web usahamu, dengan begitu kamu sudah mempunyai halaman web yang dapat kamu tunjukan kepada
                        seluruh pelangganmu
                        <br><br>
                        Kamu tidak perlu pusing lagi untuk membayar dan penunggu jasa pembuatan web, begitu juga
                        dengan perawatan web dan lain lain, yang perlu kamu lakukan hanya menginput informasi toko
                        dan produkmu melalui aplikasi Tokoo
                        <br><br>
                        Hamat Waktu, Hemat Tenaga Dan Hemat Biaya.</p>
                </div>
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column is-three-fifths landing-text">
                <div>
                    <img src="/assets/images/landing/landing_info_3a.png">
                    <h2>Apa yang bisa ditampilkan di Tokoo</h2>
                    <p>kamu dapat menampilkan dan mengelola produk, artikel serta link link web dan media sosial dalam satu halaman webmu dengan sangat mudah mengunakan Tokoo</p>
                </div>
            </div>
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_5.png">
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_6.png">
            </div>
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Tokoo Customizable</h2>
                    <p>Halaman web mu dapat dipercantik dan disesuaikan dengan gaya branding usahamu sehingga terlihat profesional dan cantik, kamu dapat menyuaikan logo, warna-warna serta banyak hal lain dengan sangat mudah</p>
                </div>
            </div>
        </section>
        <section class="columns landing-columns">
            <div class="column is-three-fifths landing-text">
                <div>
                    <h2>Whatsapp Direct</h2>
                    <p>Ketika pelangganmu menekan tombol beli di halaman web Tokoo-mu maka pembelian akan langsung di arahkan ke Whatsapp-mu, kamu dapat berkomunikasi langsung dengan pembeli dan menerima pesanannya</p>
                </div>
            </div>
            <div class="column landing-image">
                <img src="/assets/images/landing/landing_info_7.png" style="max-height: 350px;">
            </div>
        </section>
        <section class="landing-columns centered" style="margin: 80px 24px; border-bottom: none;">
            <h2>Buat Website Usahamu sekarang!</h2>
            <p>Tunggu apalagi? kini waktunya untuk kita Go Online dan tumbuh bersama, download toko sekarang juga</p>
            <a class="button tokoo-main-button"><strong>Download Tokoo</strong></a>
        </section>
</main>
<footer class="level landing-footer">

    <section class="level-left has-text-centered centered">
        <section>
            <img src="/assets/images/base/small_l_logo_white.png" style="height: 36px;">
            <p style="margin-top: 2px; font-size: 12px;">Tunjukan Besarnya Usahamu</p>
            <p style="color: #9E9E9E; font-size: 12px;">(c) 2020 - Tokoo</p>
        </section>
    </section>

    <section style="margin: 32px 12px;" class="level has-text-centered">
        <a class="navbar-item">Kebijakan</a>
        <a class="navbar-item">FAQ</a>
        <a class="navbar-item">Kontak</a>
        <a class="navbar-item">Sumber Terbuka</a>
    </section>


    <section id="footer-icons" class="level-right has-text-centered">
        <ion-icon style="margin-right: 24px;" name="logo-facebook"></ion-icon>
        <ion-icon style="margin-right: 24px;" name="logo-instagram"></ion-icon>
        <ion-icon name="mail"></ion-icon>
    </section>
</footer>