@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=Work+Sans:wght@300;400;500;600;700&display=swap');
:root {
    /* tokoo variables */
    --tokoo-yellow : #FFD740;
    --tokoo-light-yellow : #FFE082;
    --tokoo-grey : #E0E0E0;

    /* nav */
    --nav-background-color: white;
    --nav-text-color: black;

    /* page */
    --page-background-color: #fafafa;
    --page-text-body-color: black;
    --page-text-title-color: black;
    --page-text-subtitle-color: black;
    --page-section-border-color: rgba(0, 0, 0, 0.05);
    --page-footer-text-color: rgba(0, 0, 0, 0.5);

    /* card */
    --card-background-color : white;
    --card-border-color : #eeeeee;
    --card-title-color: black;
    --card-price-color: #00864E;
    --card-desc-color: #9E9E9E;

    /* link */
    --link-text-color : white;
    --link-default-background : #78909c; 
    --link-facebook : #2A6FD7;
    --link-whatsapp : #29B479;
    --link-instagram : #CA2889;


    /* fonts */
    --title-font : 'Montserrat', sans-serif;
    --body-font : 'Work Sans', sans-serif;
    --header-1-size : 64px;
    --header-2-size : 38px;
    --body-size : 18px;

    /* shadow */
    --shadow-0-1 : 0px 0px 24px rgba(0, 0, 0, 0.1);
    --shadow-0-15 : 0px 0px 24px rgba(0, 0, 0, 0.15);

    /* radius */
    --primary-radius : 18px;
    --secondary-radius : 12px;
}

/* preset */
html {
    background: var(--page-background-color);
}

body {
    color: var(--page-text-body-color);
    font-size: 18px;
    font-family: var(--body-font);
}

h1 {
    color: var(--page-text-title-color);
    font-family: var(--title-font);
    font-size: var(--header-1-size);
}

h2 {
    color: var(--page-text-title-color);
    font-family: var(--title-font);
    font-size: var(--header-2-size);
    font-weight: 700;
}

h3 {
    color: var(--page-text-title-color);
    font-family: var(--title-font);
    font-size: 24px;
    font-weight: 700;
}

/* section */
.type-section {
    padding: 48px 0px; 
    border-bottom: 1px solid var(--page-section-border-color);
}

/* header & navbars */
header {
    margin-bottom: 48px;
}
.navbar {
    padding: 6px;
    background-color: var(--nav-background-color);
    box-shadow: var(--shadow-0-1);
}
.nav-logo {
    height: 36px;
    width: auto;
}
.navbar-burger span{
    height: 2.5px;
    border-radius: var(--secondary-radius);
}
.navbar-item img {
    max-height: none;
}
.navbar-item {
    color: var(--nav-text-color);
    border-radius: var(--secondary-radius);
}
.navbar-item:hover {
    font-weight: 700;
    color: var(--nav-text-color) !important;
}

/* header image */
#header {
    margin-top: 64px;
}
.header-img img{
    object-fit: cover;
    border-radius: var(--primary-radius);
}

/* card */
.card {
    background-color: var(--card-background-color);
    border-radius: var(--primary-radius);
    height: 100%;
    border: 1px solid #EAEAEA;
    box-shadow: none;
}

.card:hover {
    box-shadow: var(--shadow-0-15);
    border: none;
}

.card img {
    border-radius:  var(--primary-radius) var(--primary-radius) 0px 0px;
    padding: 0px !important;
}

.card .content {
    padding: 24px;
}

.card .content .title {
    color: var(--card-title-color);
    font-weight: 700;
    margin-bottom: 4px !important;
}

.card .content .price {
    color: var(--card-price-color);
    font-weight: 700;
    margin-bottom: 6px !important;
}

.card .content .desc {
    color: var(--card-desc-color);
}

/* link */
.link-group {
    margin-bottom: 38px;
}

.link-item {
    padding: 24px;
    margin-top: 14px;
    border-radius: var(--primary-radius);
    background: var(--link-default-background);
    display: flex;
    align-items: center;
}

.link-item .icon {
    color: var(--link-text-color);
}

.link-item p {
    margin-left: 24px;
    font-weight: 700;
    color: var(--link-text-color);
    text-align: start;
}

/* link variation */
.link-item.facebook {
    background: var(--link-facebook);
}
.link-item.whatsapp {
    background: var(--link-whatsapp);
}
.link-item.instagram {
    background: var(--link-instagram);
}

/* footers */
footer div {
    padding: 48px;
    text-align: center;
    color: var(--page-footer-text-color);
}

/* button */
.button {
    border: none; 
    border-radius: var(--secondary-radius);
}

/* others */
.centered {
    text-align: center;
}




